@import "vars";
@import "mixins";

body {
	font-family:'Graphik';
}
.section-padding {
	padding: 0 10px;
}
.navbar {
	min-height: 100px;
	border-bottom: none;
}
.navbar-header {
	min-height: 100px;
	background-color: $main-color;
}
.navbar-right {
	margin-right: 10px;
	margin-top: 7.5px;
}
.navbar-toggle {
	margin-top: 27px;
}
@include media(sm){
	.navbar-right {
		margin-top: 27px;
	}
}