//Font
$graphicFont: 'Graphik', Arial, sans-serif;

//Colors
$main-color: #0070b5;
$white: #ffffff;
$gray: #d4d4d4;

//Breakpoints
$screen-sm-min: 768px; //tablet
$screen-md-min: 1025px; //desktop
$screen-lg-min: 1200px; //widescreen
$screen-xlg-min: 1440px; //widescreen bigger