body {
  font-family: 'Graphik'; }

.section-padding {
  padding: 0 10px; }

.navbar {
  min-height: 100px;
  border-bottom: none; }

.navbar-header {
  min-height: 100px;
  background-color: #0070b5; }

.navbar-right {
  margin-right: 10px;
  margin-top: 7.5px; }

.navbar-toggle {
  margin-top: 27px; }

.btn.fill-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin: 0;
  padding: 15px 30px;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  font-size: 18px; }
  .btn.fill-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn.fill-to-right:hover {
    color: #ffffff; }
    .btn.fill-to-right:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

@media screen and (min-width: 768px) {
  .navbar-right {
    margin-top: 27px; } }
