@import "../vars";
@import "../mixins";
.photo-container{
	margin-top: 30px;

	h2 {
		font-size: 20px;
		text-transform: uppercase;
		padding-right: 50px;
		border-bottom: solid 1px $gray;
	}
	.agregar-container {
		text-align: right;
		padding-bottom: 10px;
		border-bottom: solid 1px $gray;
	}
	.photo {
		margin-top: 30px;
		padding: 0 2%;
		img {
			width: 100%;
		}
	}
}
@include media(sm){
	.photo-container{
		margin-top: 100px;

		h2 {
			font-size: 26px;
			padding-right: 0;
		}
		.photo {
			padding: 0 15%;
		}
	}
}
